
@{
  Layout = "_Layout";
}

@using Factory.Models;

<div class="form">

  <h2 class="jumbotron">Machines</h2>

  @if (@Model.Count == 0)
  {
    <h3>No machines have been added yet!</h3>
  } 

  <ul>
    @foreach(Machine machine in Model)
    {
      <li id="machine">@Html.ActionLink($"{machine.Name}", "Details", new { id = machine.MachineId })</li>
    }
  </ul>
</div>

@* <p class="btn btn-dark">@Html.ActionLink("Add a Engineer", "AddEngineer", new { id = Model.MachineId })</p>
<p class="btn btn-dark">@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</p>
<p class="btn btn-dark">@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</p> *@